body {
    font-family: "Arial", sans-serif;
    background-color: lightgray;
}

h1 ,
h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    color:#800080d4;
    font-size: 35px;
}

table {
    width: 100%;
    border: 3px solid #800080d4;
    border-collapse: collapse;
}

th,
td {
    font-size: 25px;
    border-bottom: 2px solid #800080d4;
}

th{
    font-weight: bold;
} 

.tag-attribute {
    font-family: 'Courier New', Courier, monospace;
}